@use "../../styles/partials/mixins" as *;

.filter-button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid $primary-accent;
  border-radius: 50px;

  &:hover {
    color: $secondary-text;
    background-color: $primary-accent;
  }
  @include tablet {
    padding: 11px 22px;
  }

  &__text, &__img{
    &:hover{
        filter:brightness(0) invert(1);

    }
  }
}
