@use "../../styles/partials/mixins" as *;

.filter-button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  color: $primary-accent;
  border: 2px solid $primary-accent;
  border-radius: 60px;
  cursor: pointer;

  @include tablet {
    padding: 11px 22px;
  }

  &:hover,
  &--clicked {
    background-color: $primary-accent;
    color: $secondary-text;
    .filter-button__icon {
      filter: brightness(0) invert(1);
  }
}

  &__icon{
    background-color: transparent;

  }
}
