@use "../../styles/partials/mixins" as *;

.filter-button {
  padding: 8px 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  border: 2px solid $primary-accent;
  border-radius: 60px;
  cursor:pointer;

  @include tablet{
    padding: 11px 22px;
  }

  &:hover, &--clicked {
    background-color: $primary-accent;
    color:$secondary-text;
  }

  &__icon{
    fill: $primary-accent; 
    &:hover, &--clicked{
      background-color:$primary-accent;
      fill:$secondary-text;
    }
  }

  @include tablet {
    padding: 11px 22px;
  }

}