@use "../../styles/partials/mixins" as*;

.filter-drawer{
    padding: 16px;
    background-color:$secondary-background;

    &__header{
        background-color:$secondary-background;
        padding-bottom: 16px;
    }

    &__tags{
        background-color:$secondary-background;
        display:flex; 
        flex-wrap:wrap; 
        gap:8px;
    }
}