@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.tag {
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: 0.0625rem solid $primary-accent;
  color: $primary-accent;
  background-color: $secondary-text;

  &:hover,
  &--selected {
    background-color: $primary-accent;
    color: $secondary-text;
    cursor: pointer;
  }
  @include tablet {
    padding: 0.5rem 0.75rem;
    border-radius: 0.75rem;
  }
}
