@use "../../styles/partials/mixins" as *;

.photopage {
  background-color: $secondary-background;
  border-radius: 0.5rem;
  overflow: hidden;
  margin-top: 48px;
  border: 0.0625rem solid $secondary-border;

  &__photo {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: $primary-text;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top:16px;

    @include tablet {
      gap: calc(30% - 12px);
      padding: 16px 16px 0; 
    }
  }
  &__wrapper { 
    @include tablet {
      display: flex;
      justify-content: space-between;
      align-items:center; 
      flex: 1;
    }
}

&__like{
  display:flex; 
    gap:4px; 
    padding-bottom: 8px; 
}
&__info{
    padding: 16px; 

}

  &__tags {
    display: flex;
    gap: 0.5rem;
  

    @include tablet {
      padding: 1rem;
      gap: 24px; 
    }
  }
  &__tag {
    background-color: $secondary-text;
    border: 0.0625rem solid $secondary-border;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    @include tablet {
      border-radius: 0.75rem;
      padding: 0.5rem 0.75rem;
    }
  }
}
