$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$primary-background:#EFFAF7;
$primary-accent:#1E6655;
$primary-text:#0C1E1A;

$secondary-border:#B7CEC9;
$secondary-background:#E4EFEC;
$secondary-text:#FFFFFF;



