$tablet-breakpoint: 48rem;
$desktop-breakpoint: 80rem;

$primary-background: #effaf7;
$primary-accent: #1e6655;
$primary-text: #0c1e1a;

$secondary-border: #b7cec9;
$secondary-background: #e4efec;
$secondary-text: #ffffff;

$error-border:#b10606;