@use "../../styles/partials/mixins" as *;

.hero {
  color: $primary-text;
  padding: 24px 16px 0;

  &__title {
    padding-bottom: 16px;
    @include tablet {
      padding-bottom: 24px;
    }
  }

  @include tablet {
    padding: 24px;
  }
  @include desktop {
    padding: 80px 24px 0;
  }

  &__paragraph {
    @include desktop {
      min-width: 50vw;
      width: 50%;
    }
  }
}
