@use "../../styles/partials/mixins" as *;

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Regular.woff") format("woff"),
    url("../../assets/fonts/Newsreader-Regular.woff2") format("woff2");
  font-weight: 400;
}

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-Light.woff") format("woff"),
    url("../../assets/fonts/Newsreader-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Newsreader";
  src: url("../../assets/fonts/Newsreader-LightItalic.woff") format("woff"),
    url("../../assets/fonts/Newsreader-LightItalic.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Medium.woff") format("woff"),
    url("../../assets/fonts/Outfit-Medium.woff2") format("woff2");
  font-weight: 500;
}

@font-face {
  font-family: "Outfit";
  src: url("../../assets/fonts/Outfit-Light.woff") format("woff"),
    url("../../assets/fonts/Outfit-Light.woff2") format("woff2");
  font-weight: 300;
}

.wordmark {
  font-weight: 400;
  font-size: 2rem;
  line-height: 2rem;
  font-family: "Newsreader";
  @include tablet {
    font-size: 2.5rem;
    line-height: 2.5rem;
  }
}

.title {
  font-weight: 300;
  font-size: 1.625rem;
  line-height: 2.375rem;
  font-family: "Newsreader";
  @include tablet {
    font-size: 2.5rem;
    line-height: 4.125rem;
  }
  @include desktop {
    font-size: 3.25rem;
  }
}

.title.italic {
  font-style: italic;
}

.heading {
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.4375rem;
  font-family: "Outfit";
  background: transparent;
  @include tablet {
    font-size: 1.5rem;
    line-height: 1.875rem;
  }
}

.body-copy {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: "Outfit";
  background-color: transparent;
  @include tablet {
    font-size: 1.25rem;
    line-height: 1.625rem;
  }
}

.body-copy.light {
  font-weight: 300;
}

.small-body-copy {
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 0.75rem;
  font-family: "Outfit";
  @include tablet {
    font-size: 0.75rem;
    line-height: 0.9375rem;
  }
}

.label {
  font-weight: 500;
  font-size: 0.75rem;
  line-height: 0.9375rem;
  font-family: "Outfit";
  background-color: transparent;
  @include tablet {
    font-size: 0.875rem;
    line-height: 1.0938rem;
  }
}
