@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.comment {
  margin-bottom: 1rem;

  &__image {
    background-color: $primary-background;
  }

  &__container {
    flex-direction: column;
    flex: 1;
    border-top: 1px solid $secondary-border;
    padding: 8px 0; 
    
    @include tablet{
      padding:10px 0; 
    }
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom:8px;

    @include tablet{
      padding-bottom: 10px; 
    }
  }

  &__name,
  &__date {
    color: $primary-accent;
  }

  &__text {
    color: $primary-text;
  }
}
