@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.form {
  margin-bottom: 24px;

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    max-width: 100%;
  }
  &__name,
  &__comment {
    border-style: none;
    border: 2px solid $secondary-border;
    border-radius: 8px;
    margin: 8px 0 12px;
    min-width: 280px;
    max-width: 100%;
    width: 100%;
    padding: 8px;

    &--invalid {
      border: 2px solid #b10606;
    }

    @include tablet {
      padding: 8px 16px;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-accent;
    }
  }

  &__name {
    min-height: 30px;

    @include tablet {
      min-height: 40px;
    }
  }

  &__comment {
    resize: none;
    height: 5rem;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $primary-accent;
    color: $secondary-text;
    padding: 6px 12px;
    @include tablet {
      padding: 8px 24px;
    }
  }
}
