@use "../../styles/partials/mixins" as *;

.form {
  margin-bottom: 24px;

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 48px;
    max-width:100%; 


  }

  &__label {
    padding-bottom: 8px;
  }

  &__name,
  &__comment {
    border-style: none;
    border: 2px solid $secondary-border;
    border-radius: 8px; 
    margin-bottom: 1rem;
    min-width: 280px;
    max-width:100%; 
    width:100%;
    padding: 8px;
    &--invalid{
      border: 2px solid #B10606;
    }

    @include tablet {
      padding: 8px 16px;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-accent;
    }
  }

  &__name {
    min-height: 30px;

    @include tablet {
      min-height: 40px;
    }
  }

  &__comment {
    resize: none;
    height: 5rem;

  }

  &__submit {
    display: flex;
    justify-content: flex-end;
    width: 100%;
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.375rem;
    background: $primary-accent;
    color: $secondary-text;
    padding: 6px 8px;
    @include tablet {
      padding: 8px 12px;
    }
  }
}
