@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

input,
textarea {
  font-family: "Outfit";
  font-size: 12px;
  font-weight: 500;
  background-color: $secondary-text;
  @include tablet {
    font-size: 20px;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
}
.form {
  margin-bottom: 24px;

  &__info {
    display: flex;
    flex-direction: column;
    padding-top: 36px;
    max-width: 100%;

    @include tablet {
      padding-top: 48px;
    }

    @include desktop {
      padding-top: 64px;
    }
  }
  &__name,
  &__comment {
    border-style: none;
    border: 1px solid $secondary-border;
    border-radius: 8px;
    margin: 8px 0 12px;
    min-width: 280px;
    max-width: 100%;
    width: 100%;
    padding: 8px;

    @include tablet {
      border: 2px solid $secondary-border;
      padding: 8px 16px;
      border-radius: 12px;
    }

    &:focus {
      outline: none;
      border: 2px solid $primary-accent;
    }

    &--invalid {
      border: 2px solid $error-border;
    }
  }

  &__name {
    min-height: 30px;

    @include tablet {
      min-height: 40px;
    }
  }

  &__comment {
    resize: none;
    height: 5rem;
  }

  &__submit {
    display: flex;
    justify-content: flex-end;
  }

  &__button {
    all: unset;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: $primary-accent;
    color: $secondary-text;
    padding: 6px 12px;
    @include tablet {
      padding: 8px 24px;
      border-radius: 12px;
    }
  }
}
