@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;

.header {
  background-color: $primary-background;
  color: $primary-text;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
  position: sticky;
  top: 0;
  z-index: 1;
  padding: 1.5rem 1rem;
  width: 100%;

  @include tablet {
    padding: 2rem 1.5rem;
  }
}
