@use "../../styles/partials/variables" as*;

a{
    text-decoration:none; 
    color:$primary-text; 
}
li{
    list-style:none; 
}

.footer{
    padding: 24px 16px;

    &__learnmore{
        display:flex;
        flex-direction:column; 
        gap: 16px;
        padding-top: 16px; 
    }

    &__resource{
        padding-bottom:8px;
    }

    &__social{
        padding: 16px 0;

    }

    &__copyright{
        display:flex; 
        gap: 16px; 
        color: $secondary-border;
    }
}