@use "../../styles/partials/mixins" as *;

a {
  text-decoration: none;
  color: $primary-text;
}
li {
  list-style: none;
}

.footer {
  padding: 0 16px 24px;
  color: $primary-text;

  @include tablet {
    padding: 48px 24px;
  }

  @include desktop {
    padding: 80px 24px;
  }

  &__title{
    padding: 24px 0; 

    @include tablet{
      padding-top:0; 
    }
  }

  &__learnmore {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include tablet {
      flex-direction: row;
      padding: 0 24px 80px;
      gap: 80px;
    }

    @include desktop {
      flex-direction: row;
      padding: 0 80px 48px;
    }
  }

  &__resource {
    padding-bottom: 8px;
  }

  &__social {
    padding: 16px 0;

    @include tablet {
      padding: 24px 0;
    }

    @include desktop {
      padding-top: 0;
    }
  }

  &__copyright {
    display: flex;
    gap: 16px;
    color: $secondary-border;

    @include desktop {
      padding-top: 48px;
    }
  }
  
  &__tablet {
    @include tablet {
      display: flex;
      justify-content: space-between;

      @include desktop{
        flex:1; 
      }
    }
  }
 
  &__desktop{
    @include desktop{
        display:flex; 
        justify-content:space-between;
    }
  }
}
