@use "../../styles/partials/mixins" as *;

a {
  text-decoration: none;
  color: $primary-text;
}
li {
  list-style: none;
}

.footer {
  padding: 0 1rem 1.5rem;
  color: $primary-text;

  @include tablet {
    padding: 3rem 1.5rem;
  }

  @include desktop {
    padding: 5rem 1.5rem 3rem;
  }

  &__title{
    padding: 1.5rem 0; 

    @include tablet{
      padding-top:0; 
    }
  }

  &__learnmore {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      flex-direction: row;
      padding: 0 1.5rem 5rem;
      gap: 5rem;
    }

    @include desktop {
      padding: 0 5rem 5rem;
    }
  }

  &__resource {
    padding-bottom: 0.5rem;
  }

  &__social {
    padding: 1rem 0;

    @include tablet {
      padding: 1.5rem 0;
    }

    @include desktop {
      padding-top: 0;
    }
  }

  &__copyright {
    display: flex;
    gap: 1rem;
    color: $secondary-border;

    @include desktop {
      padding-top: 3rem;
    }
  }
  
  &__tablet-container {
    @include tablet {
      display: flex;
      justify-content: space-between;

      @include desktop{
        flex:1; 
      }
    }
  }
 
  &__desktop-container{
    @include desktop{
        display:flex; 
        justify-content:space-between;
    }
  }
}
