@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;


.photo {
  width: 100%;
  border-radius: 0.5rem;
  border: 0.0625rem solid $secondary-border;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  color: $primary-text;

  @include tablet {
    width: calc(50% - 0.75rem);
    border-radius: 0.75rem;
  }
  @include desktop {
    width: calc(33.333% - 0.75rem);
  }

  &__content {
    position: relative;
    display: flex;
  }

  &__link{
    display:flex; 
  }

  &__image {
    width: 100%;
  }

  &__photographer {
    padding: 0.5rem;
    position: absolute;
    background-color: $secondary-background;
    border-top-left-radius: 0.625rem;
    border-bottom: 0.0313rem solid $secondary-border;
    right: 0;
    bottom: 0;
  }

  &__tags {
    display: flex;
    gap: 0.5rem;
    padding: 0.5rem;
    background-color: $secondary-background;
    @include tablet {
      padding: 1rem;
    }
  }
  &__tag {
    background-color: $secondary-text;
    border: 0.0625rem solid $secondary-border;
    padding: 0.375rem 0.5rem;
    border-radius: 0.375rem;
    @include tablet {
      border-radius: 0.75rem;
      padding: 0.5rem 0.75rem;
    }

    &:hover {
      background-color: $secondary-border;
    }
  }
}
