@use "../../styles/partials/mixins" as *;

.photocard-list {
  color: $primary-text;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 3rem 1rem;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 3rem 1.5rem;
    gap: 1.5rem;
  }

  @include desktop {
    padding-top: 5rem;
  }

  @include desktop {
    .photo {
      width: calc(100% / 3 - 1rem);
    }
  }

  &.drawer-open {
    @include desktop {
      padding-top: 4rem;
      .photo {
        width: calc(50% - 0.75rem);
      }
    }
  }
}
