@use "../../styles/partials/mixins" as *;

.photocard-list {
  color: $primary-text;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 48px 16px;

  @include tablet {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 48px 24px;
    gap: 24px;
  }

@include desktop{
  padding-top:80px;
}

  @include desktop {
    .photo {
      width: calc(100% / 3 - 16px);
    }
  }

  &.drawer-open {
    @include desktop {
      padding-top: 64px; 
      .photo {
        width: calc(50% - 12px);
      }
    }
  }
}
