@use "./styles/partials/global" as *;
@use "./styles/partials/mixins" as *;

.desktop {
  @include desktop {
    display: flex;
  }

  &.drawer-open {
    @include desktop {
      .desktop__left {
        width: 70%;
      }

      .desktop__right {
        width: 30%;
      }
    }
  }

  &.drawer-closed {
    @include desktop {
      .desktop__left {
        width: 100%;
      }
      .desktop__right {
        display: none;
      }
    }
  }

  &__left {
    @include desktop {
      order: -1;
    }
  }
}
