@use "../../styles/partials/global" as *;
@use "../../styles/partials/mixins" as *;

.main-screen {
  @include desktop {
    display: flex;
  }

  &.drawer-open {
    @include desktop {
      .main-screen__left {
        width: 65%;
      }

      .main-screen__right {
        width: 35%;
      }
    }
  }

  &.drawer-closed {
    @include desktop {
      .main__left {
        width: 100%;
      }
      .main__right {
        display: none;
      }
    }
  }

  &__left {
    @include desktop {
      order: -1;
    }
  }
}
